<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
        <welcome-file>./WEB-INF/views/guestbook.jsp</welcome-file>
    </welcome-file-list>
	
	<servlet>
		<servlet-name>SubmitMessage</servlet-name>
		<servlet-class>com.basecamp.guestbook.SubmitMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SubmitMessage</servlet-name>
		<url-pattern>/SubmitMessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PrintMessage</servlet-name>
		<servlet-class>com.basecamp.guestbook.PrintMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PrintMessage</servlet-name>
		<url-pattern>/PrintMessage</url-pattern>
	</servlet-mapping>

</web-app>
